.App{
  height:100vh;
  background-color: rgb(3, 3, 73);
  color:white;
}
nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
a{
  font-size:2rem;
  text-decoration: none;
  color:darkgray;
  padding:1rem
}
a.active{
  color:white;
}
a:hover{
  background-color: rgb(10, 10, 102);
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button{
  margin-top:10px;
  width:92vw;
  padding:1.5rem;
  border-radius: 10px;
  background-color:#ea75af;
  border:none;
  letter-spacing: 15px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  width:90vw;
  padding:1rem;
  border-radius: 10px;
  margin:10px;
  border:none;
}
.invalid{
  color:white;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
